<table>
 <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th>e-mail</th>
    <th>Requisitos</th>
    <th>Gerência de Configuração</th>
 </tr>
 <tr class="meta" *ngFor="let a of alunos">
      <td>{{a.nome}}</td>
      <td>{{a.cpf}}</td>
      <td>{{a.email}}</td>
      <td><input [ngModel]="a.metas.get('requisitos')" (ngModelChange)="a.metas.set('requisitos', $event); atualizarAluno(a)"></td>>
      <td><input [ngModel]="a.metas.get('gerDeConfiguracao')" (ngModelChange)="a.metas.set('gerDeConfiguracao', $event); atualizarAluno(a)"></td>>
 </tr>
 </table>